 @font-face {
 font-family: 'UniversCn';
 src: url('../fonts/universltstd-cn.eot');
 src: url('../fonts/universltstd-cn.eot') format('embedded-opentype'), url('../fonts/universltstd-cn.woff') format('woff'), url('../fonts/universltstd-cn.ttf') format('truetype'), url('../fonts/universltstd-cn.svg#UniversCn') format('svg');
}
@font-face {
 font-family: 'UniversBoldCnOb';
 src: url('../fonts/universltstd-boldcnobl.eot');
 src: url('../fonts/universltstd-boldcnobl.eot') format('embedded-opentype'),  url('../fonts/universltstd-boldcnobl.woff') format('woff'),  url('../fonts/universltstd-boldcnobl.ttf') format('truetype'),  url('../fonts/universltstd-boldcnobl.svg#UniversLTStd67BoldCondensedOblique') format('svg');
}
@font-face {
    font-family: 'UniversBoldCn';
    src: url('../fonts/universltstd-boldcn.eot');
    src: url('../fonts/universltstd-boldcn.eot') format('embedded-opentype'),
         url('../fonts/universltstd-boldcn.woff') format('woff'),
         url('../fonts/universltstd-boldcn.ttf') format('truetype'),
         url('../fonts/universltstd-boldcn.svg#UniversLTStd67BoldCondensed') format('svg');
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
	display: block;
}
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
body {
	margin: 0;
	font-family: 'UniversCn', Verdana, sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #fff;
	background-color: #1A1A1A;
	
}
p {
	margin: 0 0 10px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	
	color: inherit;
	text-rendering: optimizelegibility;
	font-weight:normal;
	color:#fff;
}

h1 {
	font-family: 'UniversBoldCn', Verdana, sans-serif;
	font-size: 54px;
	line-height:60px;
	text-align:center
}
h2 {
	font-size: 47px;
		line-height:50px;
	text-align:center
}
h3 {
	font-size: 24px;
	line-height:40px;
}
h4 {
	font-size: 17px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 11.9px;
}
.clear {
	clear:both;
}
.main {
	width:1200px;
	height:735px;
	top:15px;
	position:absolute;
	left:40px;
	
	overflow:hidden;
	
}
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*-----------------------index-------------------------------*/

.header {
	position:absolute;
	background-color: #1A1A1A;
	padding-bottom:20px;
	z-index:100;
}
.homeTitulo {
	position:absolute;
	top:150px;
	margin:35px 0 20px 400px;
	width:680px;
	font-size:29px;
}
.perroHome {
	position:absolute;
	top:240px;
	left:30px;
	
}
.formulario {
	

	margin: 35px 0 0 457px;
}
#email{
	position:absolute;
	top:300px;}
	#nombre{
	position:absolute;
	top:390px;}
		#apellido{
	position:absolute;
	top:480px;}
		
.campo1 {
	background:url(../img/campo.png);
	border:none;
	width:441px;
	height:63px;
	font-size:22px;
	padding: 0 40px;
	color:#808080;
	margin-bottom:20px;
	font-family: 'UniversCn', Verdana, sans-serif;
}

.select1 {
	background:url(../img/campo.png);
	width:521px;
	height:63px;
	margin-bottom:20px;
	position:absolute;
	top:570px;
}

#provincia
{
	border:none;
	background:none;
	background-color:#FFF;
	width:511px;
	margin:7px 0 0 4px;
	padding-left:30px;
	height:53px;
	font-size:22px;
	color:#808080;
	font-family: 'UniversCn', Verdana, sans-serif;
}

/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*-----------------------preguntas--------------------------*/


.pregunta {
	margin: 0 0;
	width:1100px;
	height:60px;
	z-index:100;
	top:-20px;
	position:absolute;
}

.bullet {
	float:left;
	width:82px;
	/*height:70px;*/
	height:79px;
	background:url(../img/bulletPregunta.png);
	background-repeat:no-repeat;
	text-align:center;
	color:#000;
	font-size:52px;
	padding-top:31px;
	/*padding-top:39px;*/
	z-index:201;
	position:absolute;
	top:150px;
}

.bulletVerde {
	float:left;  
	width:82px;
	height:79px;
	background:url(../img/bulletPreguntaVerde.png);
	background-repeat:no-repeat;
	text-align:center;
	color:#000;
	font-size:52px;
	padding-top:31px;
	z-index:1000;
	position:absolute;
	top:150px;
}
.bulletRojo {
	float:left;  
	width:82px;
	height:79px;
	background:url(../img/bulletPreguntaRojo.png);
	background-repeat:no-repeat;
	text-align:center;
	color:#000;
	font-size:52px;
	padding-top:31px;
	z-index:1000;
	position:absolute;
	top:150px;
}
.bulletAmarillo {
	float:left;  
	width:82px;
	height:79px;
	background:url(../img/bulletPreguntaAmarillo.png);
	background-repeat:no-repeat;
	text-align:center;
	color:#000;
	font-size:52px;
	padding-top:31px;
	z-index:1000;
	position:absolute;
	top:150px;
}
.bulletRosa {
	float:left;  
	width:82px;
	height:79px;
	background:url(../img/bulletPreguntaRosa.png);
	background-repeat:no-repeat;
	text-align:center;
	color:#000;
	font-size:52px;
	padding-top:31px;
	z-index:1000;
	position:absolute;
	top:150px;
}
.bulletAzul {
	float:left;  
	width:82px;
	height:79px;
	background:url(../img/bulletPreguntaAzul.png);
	background-repeat:no-repeat;
	text-align:center;
	color:#000;
	font-size:52px;
	padding-top:31px;
	z-index:1000;
	position:absolute;
	top:150px;
}


.verde{color:#4499A0; font-family: 'UniversBoldCnOb', Verdana, sans-serif;}
.rojo{color:#C0272D; font-family: 'UniversBoldCnOb', Verdana, sans-serif;}
.amarillo{color:#D0A905; font-family: 'UniversBoldCnOb', Verdana, sans-serif;}
.rosa{color:#FFBA9E; font-family: 'UniversBoldCnOb', Verdana, sans-serif;}
.azul{color:#3366A7; font-family: 'UniversBoldCnOb', Verdana, sans-serif;}

.textoPregunta {
	float:left;
	background-image:url(../img/bgPregunta.png);
	background-repeat:repeat-x;
	height:116px;
	position:absolute;
	z-index:200;
	left:45px;
	padding: 44px 0 0 60px;
	width:1003px;
	font-size:30px;
	position:absolute;
	top:150px;
}
.textoPregunta2Reng {
	float:left;
	background-image:url(../img/bgPregunta.png);
	background-repeat:repeat-x;
	height:116px;
	position:absolute;
	z-index:-50;
	left:45px;
	padding: 22px 0 0 60px;
	line-height:32px;
	width:1003px;
	font-size:30px;
	position:absolute;
	top:150px;
}
.textoPregunta3Reng {
	float:left;
	background-image:url(../img/bgPregunta.png);
	background-repeat:repeat-x;
	height:116px;
	position:absolute;
	z-index:-50;
	left:45px;
	padding: 22px 0 0 60px;
	line-height:32px;
	width:1003px;
	letter-spacing:-0.5px;
	font-size:30px;
	position:absolute;
	top:150px;
}

.contenido {
	clear:both;
	padding-top:30px;
	height:675px;
	overflow:hidden;
	width:1200px;
}
.linea {	
	margin: 0 50px;
	background:url(../img/linea.jpg);
	background-repeat:repeat-x;
	position:absolute;
	top:680px;
	width:1060px;
	height:4px;
}

.siguiente {
	background:url(../img/flecha.png);
	background-repeat:no-repeat;
	width:197px;
	height:87px;
	position:absolute;
	top:645px;
	cursor:pointer;
	left:960px;
	display:none;
	z-index:50;
}
.bajarSig{
	top:645px !important;
}

.siguiente:hover {background:url(../img/flechaHover.png);	background-repeat:no-repeat;}
.siguienteIndex{top:400px; left:870px;}

.comenzar {
	background:url(../img/comenzar.png);
	background-repeat:no-repeat;
	width:225px;
	height:72px;
	position:absolute;
	top:655px;
	cursor:pointer;
	left:755px;
	z-index:30;
}
.comenzar:hover
{
	background:url(../img/comenzarHover.png);
	background-repeat:no-repeat;
}





/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*-----------------------4------------------------------*/

.bullets4{width: 600px; padding: 0 0 0 150px; float:left;   height:450px; position:absolute; top:280px;}
.perro4{ width:385px; float:left; height:450px;  top:-30px; position:absolute; top:190px; left:750px;}
.textoBullet4{ float:left; width:500px; font-size:22px; margin-left:20px; line-height:25px; margin-bottom:30px;}

.bullet4Verde{ background:url(../img/bulletChVerde.png); width:30px; height:30px; float:left;}
.bullet4Rojo{ background:url(../img/bulletChRojo.png); width:30px; height:30px; float:left;}
.bullet4Amarillo{ background:url(../img/bulletChAmarillo.png); width:30px; height:30px; float:left;}
.bullet4Rosa{ background:url(../img/bulletChRosa.png); width:30px; height:30px; float:left;}
.bullet4Azul{ background:url(../img/bulletChAzul.png); width:30px; height:30px; float:left;}
/*----------------------------------------------------------*/
/*----------------------------------------------------------*/
/*-----------------------final------------------------------*/
.finPerro{width:456px; position:absolute; top:160px;}
.finTexto{width:650px; position:absolute; top:130px; left:500px;}

/*----------------------------- BULLETS ------------------------------*/
#bull1,#bull2,#bull2,#bull4,#bull5,#bull6,#bull7,#bull8
{
	opacity:0; !important
}
